:root {

    --bg-color: #9BC1E4;
    --bg-color-container: #FFFFFF;

    --tx-color-black: #000000;
    --tx-color-white: #ffffff;

    --tx-size: 15px;

}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg-color); 
}


header {

    display: flex;
    justify-content: space-between;
    position: absolute;

    width: 85.3%;
    height: 90px;
    left: 200px;
    padding: 10px;
    background-color: var(--tx-color-white);

    select {
        
        width: auto;
        height: 30px;
        border-radius: 5px;
        
    }

    .title {
        text-align: center;
        padding: 10px 0;
        line-height: 30px;
        font-size: var(--tx-size);
    }
    
}

nav {
    background-color: var(--bg-color-container);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 100vh;
    position: relative;

    .logo {
        position: absolute;
        top: 40px;
        left: 50px;

        img {
            width: 79px;
            height: 79px;
        }
    }

    button {
        width: 128px;
        height: 50px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        margin: 40px 0;
        background-color: #B4A4A4;
        color: #000000;
        text-align: center;

        ion-icon {
            font-size: 22px;
            
        }

        a {
            font-size: 16px;
            color: #000000;
            text-align: center;
            margin: 10px;
            
        }
    }
    button:hover {
        background-color: #5f5f5f;
    }


    .menu {
        position: absolute;
        top: 150px;
        left: 20px;
        

        .line {
            line-height: 40px;
        }

        ul li ion-icon{
            padding-right: 10px;
            font-size: 20px;
        }
       
        ul li a {
            font-size: 18px;
            color: var(--tx-color-black);
            
        }

        ul li:hover {
            
            border-radius: 10px;
            background-color: #e1edf8;
            padding: 3px;
           
        }

        .other-line {
            line-height: 60px;
            text-align: center;
            
            li {
                background-color: red;
                border-radius: 10px;
                height: 55px;
                width: 120px;
                margin: 10px 0;

                a {
                    font-size: 14px;
                }

            }

            li:first-child {
                background-color: #5E7CE4;
            }
            li:nth-child(2) {
                background-color: #FC7E24;
            }
            li:last-child{
                background-color: #2C11D1;
            }

            li:hover {
                background-color: none;
            }
            
        }
    }
}

// Conteudo da Container de Operações --------------------- // 

main {
    position: absolute;
    left: 220px;
    top: 120px;
    background-color: #FFFFFF;
    height: 80vh;
    width: 82.5%;
    border-radius: 15px;
    padding: 20px;
    -webkit-box-shadow: -1px 0px 7px 10px rgba(0,0,0,0.16); 
    box-shadow: -1px 0px 7px 10px rgba(0,0,0,0.16);

    .container {
        
        form {

            input{
                margin: 3px;
                height: 25px;
                border-radius: 10px;
                border: none;
                background-color: #e6e8ee;
            }
            #fname {
                padding: 5px;
                width: 420px;
                height: 30px;
            }
            #fbtn {
                width: 150px;
                background-color: #B4A4A4;
                cursor: pointer;
                font-size: 14px;
            }
            #fbtn:hover {
                background-color: #5f5f5f;
            }
            
        }
    }
}

// ---------------------------------------------------- // 

// Style tela Colaborador

.container_colab {
    display: flex;
    flex-direction: column;
    
    .info-section ul {
        display: flex;
        margin: 0 20px;

        li {
            margin: 20px 46px;
            
        }
    }

    .info-content ul {
        display: flex;
        margin: 0 20px;
        line-height: 30px;

        li {
            margin: 0 10px;
            text-decoration: underline;
        }
    }
    
    .info-search {
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-items: center;

        input {
            width: 350px;
            height: 30px;
            margin: 3px;
            height: 25px;
            border-radius: 10px;
            border: none;
            background-color: #e6e8ee;
            padding: 10px;
           box-shadow: 2px 2px 2px rgb(206, 187, 187) ;
        }
    }

    .button {
        display: flex;
        margin: 0 10px;
        
        
        button{
            
            height: 28px;
            width: 100px;
           
            border: none;
            cursor: pointer;
            align-items: center;

            background-color: #DEDEDE;
            color: #000000;
            border-radius: 5px;
            margin: 0 5px;
            
            
        }
        
    }

    
}

.user {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #DEDEDE;
    width: 300px;
    height: 480px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 4px 2px rgb(206, 187, 187) ;
    
    img {
        width: 80px;
        height: 80px;
        background-color: red;
        border-radius: 50%;
        margin: 30px 0;
    }

    .user-info {
        margin: 15px 0;
        line-height: 22px;

        .info {
            color: #000000;
            font-size: 12px;
            font-weight: bold;

        }

        .box {
            background-color: #FFFFFF;
            padding: 0 10px;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 500;
        }
        
    }
}

// DASHBOARD ------------------------------------ //

.main-dashboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 74vh;

    .first_box {
        display: flex;
        flex-direction: column;
        
        .box_item {
            width: 400px;
            height: 200px;
            margin: 2px 0;
            background-color: #DEDEDE;
            border-radius: 10px;
            display: flex;
            

            .info_left {
                padding: 5px 10px;
                

                h1 {
                    font-size: 20px;
                    padding: 2px 0;
                    width: 200px;
                    
                }
                span {
                    font-size: 50px;
                    font-weight: bold;
                    padding: 2px 0;
                }
                p {
                    font-size: 12px;
                    padding: 2px 0;
                    color: #5f5f5f;
                }

            }
            .info_right {
                padding: 5px 10px;

                img {
                    width: 150px;
                    height: 80px;
                }
                p {
                    font-size: 12px;
                    color: #5f5f5f;
                }
            }
        }

        .box_item2 {

            width: 400px;
            height: 200px;
            margin: 2px 0;
            background-color: #DEDEDE;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            .info_top {
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;


                h1 {
                    font-size: 25px;
                    padding: 2px 0;
                }
                img {
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 160px;
                    left: 360px;

                }
            }
            .info_bottom {
                padding: 5px 10px;
                display: flex;

                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0 20px;
                    line-height: 30px;   
                }
                ul:first-child {
                    color: rgb(120, 120, 129);
                }
                ul:last-child {
                    color: rgb(148, 72, 10);
                }

            }
        }

        .box_item3 {
            width: 400px;
            height: 200px;
            margin: 2px 0;
            background-color: #DEDEDE;
            border-radius: 10px;
            display: flex;
            flex-direction: row;

            .info_left {
                margin: 20px 20px;
                img {
                    width: 120px;
                    height: 120px;
                }
            }

            .info_right {
                margin: 20px 20px;
                display: flex;
                flex-wrap: wrap;
                
                h1 {
                    font-size: 18px;
                }
               ul li {
                   margin: 0 20px;
                   line-height: 20px;
                   list-style-type: disc;
                   cursor: pointer;
               }
               ul li:hover {
                   text-decoration: underline;
               }
            }
        }
    }
     
    .second_box {
        display: flex;
        flex-direction: column;
        

        .box_item {
            width: 130px;
            height: 155px;
            background-color: #DEDEDE;
            
            margin: 5px 15px;
            border-radius: 5%;
            padding: 5px 5px;
            text-align: center;

            h1 {
                font-size: 12px;
                font-weight: bold;
            }
            span {
                font-size: 40px;
                font-weight: bold;
            }
            p {
                font-size: 12px;
                margin: 5px 0;
                color: rgb(120, 120, 129);
                text-decoration: underline;
            }
            img {
                width: 80px;
            }
        }

    }

    .third_box {
        display: flex;
        flex-direction: column;
        background-color: #DEDEDE;
        padding: 10px 20px;
        border-radius: 10px;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 25px;
            }

            ion-icon {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .box_item {
            display: flex;
            width: 300px;
            height: 485px;
            
            margin: 5px 15px;
            border-radius: 5%;
            padding: 15px 0;

            align-items: center;
            text-align: center;

            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin: 0 10px;
            }
            ul {
                display: flex;
                flex-direction: column;

            .color_gray {
                color: rgb(120, 120, 129);
                margin: 0 15px;
            }

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        margin: 0 8px;
                        
                       
                        
                    }
                }
            }



        
        }
    }
}


// Produtos e Bonificações ---------------- /// 

.produtos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    
     .prodSaude {
        margin: 30px;
        cursor: pointer;
        

        h1 {
            padding: 10px 0;
        }

        ul {
            display: flex;
            flex-direction: row;

            li {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                line-height: 30px;
                margin: 0 10px;
                width: 400px;
                height: 150px;
                background-color: #DEDEDE;
                text-align: center;     
                border-radius: 10px;
                box-shadow: 4px 4px 2px rgb(206, 187, 187) ;
                
                img {
                    width: 70px;
                    position: absolute;
                    margin: 90px;
                    
                   
                }
                span {
                    font-size: 14px;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                    color: rgb(99, 99, 104);
                }
            }
        }
        
        
    }
}