:root {
  --bg-color: #9BC1E4;
  --bg-color-container: #FFFFFF;
  --tx-color-black: #000000;
  --tx-color-white: #ffffff;
  --tx-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 85.3%;
  height: 90px;
  left: 200px;
  padding: 10px;
  background-color: var(--tx-color-white);
}

header select {
  width: auto;
  height: 30px;
  border-radius: 5px;
}

header .title {
  text-align: center;
  padding: 10px 0;
  line-height: 30px;
  font-size: var(--tx-size);
}

nav {
  background-color: var(--bg-color-container);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  height: 100vh;
  position: relative;
}

nav .logo {
  position: absolute;
  top: 40px;
  left: 50px;
}

nav .logo img {
  width: 79px;
  height: 79px;
}

nav button {
  width: 128px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 40px 0;
  background-color: #B4A4A4;
  color: #000000;
  text-align: center;
}

nav button ion-icon {
  font-size: 22px;
}

nav button a {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 10px;
}

nav button:hover {
  background-color: #5f5f5f;
}

nav .menu {
  position: absolute;
  top: 150px;
  left: 20px;
}

nav .menu .line {
  line-height: 40px;
}

nav .menu ul li ion-icon {
  padding-right: 10px;
  font-size: 20px;
}

nav .menu ul li a {
  font-size: 18px;
  color: var(--tx-color-black);
}

nav .menu ul li:hover {
  border-radius: 10px;
  background-color: #e1edf8;
  padding: 3px;
}

nav .menu .other-line {
  line-height: 60px;
  text-align: center;
}

nav .menu .other-line li {
  background-color: red;
  border-radius: 10px;
  height: 55px;
  width: 120px;
  margin: 10px 0;
}

nav .menu .other-line li a {
  font-size: 14px;
}

nav .menu .other-line li:first-child {
  background-color: #5E7CE4;
}

nav .menu .other-line li:nth-child(2) {
  background-color: #FC7E24;
}

nav .menu .other-line li:last-child {
  background-color: #2C11D1;
}

nav .menu .other-line li:hover {
  background-color: none;
}

main {
  position: absolute;
  left: 220px;
  top: 120px;
  background-color: #FFFFFF;
  height: 80vh;
  width: 82.5%;
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: -1px 0px 7px 10px rgba(0, 0, 0, 0.16);
  box-shadow: -1px 0px 7px 10px rgba(0, 0, 0, 0.16);
}

main .container form input {
  margin: 3px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #e6e8ee;
}

main .container form #fname {
  padding: 5px;
  width: 420px;
  height: 30px;
}

main .container form #fbtn {
  width: 150px;
  background-color: #B4A4A4;
  cursor: pointer;
  font-size: 14px;
}

main .container form #fbtn:hover {
  background-color: #5f5f5f;
}

.container_colab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_colab .info-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.container_colab .info-section ul li {
  margin: 20px 46px;
}

.container_colab .info-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  line-height: 30px;
}

.container_colab .info-content ul li {
  margin: 0 10px;
  text-decoration: underline;
}

.container_colab .info-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_colab .info-search input {
  width: 350px;
  height: 30px;
  margin: 3px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #e6e8ee;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 2px #cebbbb;
          box-shadow: 2px 2px 2px #cebbbb;
}

.container_colab .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.container_colab .button button {
  height: 28px;
  width: 100px;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DEDEDE;
  color: #000000;
  border-radius: 5px;
  margin: 0 5px;
}

.user {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #DEDEDE;
  width: 300px;
  height: 480px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 2px #cebbbb;
          box-shadow: 4px 4px 2px #cebbbb;
}

.user img {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  margin: 30px 0;
}

.user .user-info {
  margin: 15px 0;
  line-height: 22px;
}

.user .user-info .info {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.user .user-info .box {
  background-color: #FFFFFF;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}

.main-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 74vh;
}

.main-dashboard .first_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-dashboard .first_box .box_item {
  width: 400px;
  height: 200px;
  margin: 2px 0;
  background-color: #DEDEDE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-dashboard .first_box .box_item .info_left {
  padding: 5px 10px;
}

.main-dashboard .first_box .box_item .info_left h1 {
  font-size: 20px;
  padding: 2px 0;
  width: 200px;
}

.main-dashboard .first_box .box_item .info_left span {
  font-size: 50px;
  font-weight: bold;
  padding: 2px 0;
}

.main-dashboard .first_box .box_item .info_left p {
  font-size: 12px;
  padding: 2px 0;
  color: #5f5f5f;
}

.main-dashboard .first_box .box_item .info_right {
  padding: 5px 10px;
}

.main-dashboard .first_box .box_item .info_right img {
  width: 150px;
  height: 80px;
}

.main-dashboard .first_box .box_item .info_right p {
  font-size: 12px;
  color: #5f5f5f;
}

.main-dashboard .first_box .box_item2 {
  width: 400px;
  height: 200px;
  margin: 2px 0;
  background-color: #DEDEDE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-dashboard .first_box .box_item2 .info_top {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-dashboard .first_box .box_item2 .info_top h1 {
  font-size: 25px;
  padding: 2px 0;
}

.main-dashboard .first_box .box_item2 .info_top img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 160px;
  left: 360px;
}

.main-dashboard .first_box .box_item2 .info_bottom {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-dashboard .first_box .box_item2 .info_bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
  line-height: 30px;
}

.main-dashboard .first_box .box_item2 .info_bottom ul:first-child {
  color: #787881;
}

.main-dashboard .first_box .box_item2 .info_bottom ul:last-child {
  color: #94480a;
}

.main-dashboard .first_box .box_item3 {
  width: 400px;
  height: 200px;
  margin: 2px 0;
  background-color: #DEDEDE;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-dashboard .first_box .box_item3 .info_left {
  margin: 20px 20px;
}

.main-dashboard .first_box .box_item3 .info_left img {
  width: 120px;
  height: 120px;
}

.main-dashboard .first_box .box_item3 .info_right {
  margin: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-dashboard .first_box .box_item3 .info_right h1 {
  font-size: 18px;
}

.main-dashboard .first_box .box_item3 .info_right ul li {
  margin: 0 20px;
  line-height: 20px;
  list-style-type: disc;
  cursor: pointer;
}

.main-dashboard .first_box .box_item3 .info_right ul li:hover {
  text-decoration: underline;
}

.main-dashboard .second_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-dashboard .second_box .box_item {
  width: 130px;
  height: 155px;
  background-color: #DEDEDE;
  margin: 5px 15px;
  border-radius: 5%;
  padding: 5px 5px;
  text-align: center;
}

.main-dashboard .second_box .box_item h1 {
  font-size: 12px;
  font-weight: bold;
}

.main-dashboard .second_box .box_item span {
  font-size: 40px;
  font-weight: bold;
}

.main-dashboard .second_box .box_item p {
  font-size: 12px;
  margin: 5px 0;
  color: #787881;
  text-decoration: underline;
}

.main-dashboard .second_box .box_item img {
  width: 80px;
}

.main-dashboard .third_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #DEDEDE;
  padding: 10px 20px;
  border-radius: 10px;
}

.main-dashboard .third_box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-dashboard .third_box .info h1 {
  font-size: 25px;
}

.main-dashboard .third_box .info ion-icon {
  font-size: 20px;
  cursor: pointer;
}

.main-dashboard .third_box .box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 485px;
  margin: 5px 15px;
  border-radius: 5%;
  padding: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-dashboard .third_box .box_item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
}

.main-dashboard .third_box .box_item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-dashboard .third_box .box_item ul .color_gray {
  color: #787881;
  margin: 0 15px;
}

.main-dashboard .third_box .box_item ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-dashboard .third_box .box_item ul ul li {
  margin: 0 8px;
}

.produtos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 75vh;
}

.produtos .prodSaude {
  margin: 30px;
  cursor: pointer;
}

.produtos .prodSaude h1 {
  padding: 10px 0;
}

.produtos .prodSaude ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.produtos .prodSaude ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 30px;
  margin: 0 10px;
  width: 400px;
  height: 150px;
  background-color: #DEDEDE;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 2px #cebbbb;
          box-shadow: 4px 4px 2px #cebbbb;
}

.produtos .prodSaude ul li img {
  width: 70px;
  position: absolute;
  margin: 90px;
}

.produtos .prodSaude ul li span {
  font-size: 14px;
  font-weight: bold;
}

.produtos .prodSaude ul li p {
  font-size: 12px;
  color: #636368;
}
/*# sourceMappingURL=style.css.map */