:root {
  --bg-color: #9BC1E4;
  --bg-color-container: #FFFFFF;
  --tx-color-black: #000000;
  --tx-color-white: #ffffff;
  --tx-size: 15px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 85.3%;
  height: 90px;
  left: 200px;
  padding: 10px;
  background-color: var(--tx-color-white);
}

header select {
  width: auto;
  height: 30px;
  border-radius: 5px;
}

header .title {
  text-align: center;
  padding: 10px 0;
  line-height: 30px;
  font-size: var(--tx-size);
}

nav {
  background-color: var(--bg-color-container);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  height: 100vh;
  position: relative;
}

nav .logo {
  position: absolute;
  top: 40px;
  left: 50px;
}

nav .logo img {
  width: 79px;
  height: 79px;
}

nav button {
  width: 128px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 40px 0;
  background-color: #B4A4A4;
  color: #000000;
  text-align: center;
}

nav button ion-icon {
  font-size: 22px;
}

nav button a {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 10px;
}

nav button:hover {
  background-color: #5f5f5f;
}

nav .menu {
  position: absolute;
  top: 150px;
  left: 20px;
}

nav .menu .line {
  line-height: 40px;
}

nav .menu ul li ion-icon {
  padding-right: 10px;
  font-size: 20px;
}

nav .menu ul li a {
  font-size: 18px;
  color: var(--tx-color-black);
}

nav .menu ul li:hover {
  border-radius: 10px;
  background-color: #e1edf8;
  padding: 3px;
}

nav .menu .other-line {
  line-height: 60px;
  text-align: center;
}

nav .menu .other-line li {
  background-color: red;
  border-radius: 10px;
  height: 55px;
  width: 120px;
  margin: 10px 0;
}

nav .menu .other-line li a {
  font-size: 14px;
}

nav .menu .other-line li:first-child {
  background-color: #5E7CE4;
}

nav .menu .other-line li:nth-child(2) {
  background-color: #FC7E24;
}

nav .menu .other-line li:last-child {
  background-color: #2C11D1;
}

nav .menu .other-line li:hover {
  background-color: none;
}

main {
  position: absolute;
  left: 220px;
  top: 120px;
  background-color: #FFFFFF;
  height: 80vh;
  width: 82.5%;
  border-radius: 15px;
  padding: 20px;
  -webkit-box-shadow: -1px 0px 7px 10px rgba(0, 0, 0, 0.16);
  box-shadow: -1px 0px 7px 10px rgba(0, 0, 0, 0.16);
}

main .container form input {
  margin: 3px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #e6e8ee;
}

main .container form #fname {
  padding: 5px;
  width: 420px;
  height: 30px;
}

main .container form #fbtn {
  width: 150px;
  background-color: #B4A4A4;
  cursor: pointer;
  font-size: 14px;
}

main .container form #fbtn:hover {
  background-color: #5f5f5f;
}

.container_colab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_colab .info-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
}

.container_colab .info-section ul li {
  margin: 20px 46px;
}

.container_colab .info-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  line-height: 30px;
}

.container_colab .info-content ul li {
  margin: 0 10px;
  text-decoration: underline;
}

.container_colab .info-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_colab .info-search input {
  width: 350px;
  height: 30px;
  margin: 3px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: #e6e8ee;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 2px #cebbbb;
          box-shadow: 2px 2px 2px #cebbbb;
}

.container_colab .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.container_colab .button button {
  height: 28px;
  width: 100px;
  border: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DEDEDE;
  color: #000000;
  border-radius: 5px;
  margin: 0 5px;
}

.user {
  position: absolute;
  top: 20px;
  right: 50px;
  background-color: #DEDEDE;
  width: 300px;
  height: 480px;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 2px #cebbbb;
          box-shadow: 4px 4px 2px #cebbbb;
}

.user img {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  margin: 30px 0;
}

.user .user-info {
  margin: 15px 0;
  line-height: 23px;
}

.user .user-info .info {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.user .user-info .box {
  background-color: #FFFFFF;
  padding: 0 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */