<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto MIS</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="/SCSS/reset.css">
    <link rel="stylesheet" href="/SCSS/style.css">

</head>
<body>
    <header>
        <div class="title">
            <h3>Produtos e Bonificações </h3>
            <p>Produdos disponiveis</p>
        </div>
        
        <select name="teste" id="teste">
            <option value="padrao" selected>Operações</option>
            <option value="operacao">Operações</option>
            <option value="Dashboard">Dashboard</option>
            <option value="Colaboradores">Colaboradores</option>
            <option value="ProdutoEBonificações">Produtos e Bonificações</option>
        </select>
    </header>

    <nav class="nav-main">
        <div class="logo">
            <img src="/components/img/Vector.svg" alt="Logo">
        </div>
        <div class="menu">
            <ul class="line">
                <li><ion-icon name="grid-outline"></ion-icon><a href="dashboard.html">Dashboard</a></li>
                <li><ion-icon name="people-outline"></ion-icon><a href="colaborador.html">Colaboradores</a></li>
                <li><ion-icon name="documents-outline"></ion-icon><a href="/index.html">Operações</a></li>
                <li><ion-icon name="bag-check-outline"></ion-icon><a href="produtos.html">Produtos</a></li>
            </ul>
            <ul class="other-line">
                <li><ion-icon name="flash-outline"></ion-icon><a href="#">Metas</a></li>
                <li><ion-icon name="water-outline"></ion-icon><a href="#">Hábitos</a></li>
                <li><ion-icon name="git-branch-outline"></ion-icon><a href="#">Treinamento</a></li>
            </ul>
            <button><ion-icon name="exit-outline"></ion-icon><a href="#">Deslogar</a></button>
        </div>
    </nav>

    <main>
        <div class="produtos">
            <div class="prodSaude">
                <h1>Produtos para a Sáude</h1>
                <ul>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                   
                </ul>
            </div>
            <div class="prodSaude">
                <h1>Produtos Mis</h1>
                <ul>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                    <li>
                        <img src="/components/img/maca.png" alt="">
                        <span>Maça</span>
                        <p>Rede de Mercados</p>
                        <span>120 pt</span>
                    </li>
                   
                </ul>
            </div>
            




        </div>
    </main>


    <!-- Material Icons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>